.conteiner{
    background-color: rgb(1,1,10);
    height: 125px;
}

h1{
    font-size: 90px;
    color: rgb(251, 152, 60);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    justify-content: center;
    text-align: center;
}







